<a href="https://colab.research.google.com/github/Supriyadandawate/DANLC_AF412025_Supriya/blob/main/For_Loop_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print the table of 5 using for loop

In [ ]:
# Number for which the table is to be printed
number = 5

# Print the table of the number using a for loop
print(f"Table of {number}:")
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#Print even number series by taking input from the user:

In [ ]:
# Take input from the user for the start and end of the range
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

# Print even numbers within the given range
print(f"Even numbers from {start} to {end}:")

for number in range(start, end + 1):
    if number % 2 == 0:
        print(number, end=' ')

Enter the starting number: 1
Enter the ending number: 100
Even numbers from 1 to 100:
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

# Create a list and iterate through its items using a for loop:

In [ ]:
# Create a list with some items
my_list = [10, 20, 30, 40, 50]

# Iterate through the list using a for loop
print("Items in the list:")
for item in my_list:
    print(item)

Items in the list:
10
20
30
40
50

# Calculate the sum of numbers from 1 to 10

In [ ]:
# Initialize an empty list to store numbers
numbers = []

# Take 10 numbers as input from the user
for i in range(10):
    number = int(input(f"Enter number {i+1}: "))
    numbers.append(number)

# Calculate the sum of the numbers
total_sum = sum(numbers)

# Display the result
print(f"The sum of the entered numbers is: {total_sum}")

Enter number 1: 1
Enter number 2: 15
Enter number 3: 3
Enter number 4: 8
Enter number 5: 10
Enter number 6: 14
Enter number 7: 12
Enter number 8: 1
Enter number 9: 1
Enter number 10: 1
The sum of the entered numbers is: 66