<a href="https://colab.research.google.com/github/Supriyadandawate/DANLC_AF412025_Supriya/blob/main/Pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab1: Suppose you are a teacher, and you want to analyze the exam scores of yourstudents in a particular subject. You have recorded the scores of your students for arecent exam, and you want to represent this data using a Pandas Series.
Input:
students = ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack']

exam_scores = [92, 88, 76, 94, 82, 90, 85, 89, 78, 91]

In [35]:
import pandas as pd

#given name students and exam_score
students = ['Alice', 'Bob', 'charlie', 'David', 'Eve', 'Frank' , 'Grace', 'Hannah', 'lvy', 'Jack']
exam_scores = [92 ,88, 76, 94, 82, 90, 85, 89, 78, 91]

# Creating a Pandas Series to represent the data
exam_scores_series = pd.Series(exam_scores, index=students)


#Display the series
print(exam_scores_series)

Alice      92
Bob        88
charlie    76
David      94
Eve        82
Frank      90
Grace      85
Hannah     89
lvy        78
Jack       91
dtype: int64

#Lab2: Suppose you want to track and analyze your household expenses for a month.
You have recorded the expenses for various categories, such as groceries, utilities, rent,
transportation, and entertainment. You can represent this expense data using a Pandas
Series.
Input:
# Expense categories
categories = ['Groceries', 'Utilities', 'Rent', 'Transportation', 'Entertainment']
# Monthly expense data (example data in USD)
expenses = [500, 200, 1200, 300, 150]

In [36]:
# import pandas library
import pandas as pd

# given Expense Categories and  Monthly expenses data(example data in USD)
categories = ['Groceries', 'Utilities', 'Rent', 'Transportation', 'Enterntainment']
expenses = [500,200,1200,300,150]

# creating pandas series to represent the data
expenses_series = pd.Series(expenses, index=categories)

# Display the series
print(expenses_series)

Groceries          500
Utilities          200
Rent              1200
Transportation     300
Enterntainment     150
dtype: int64

#Lab3: Suppose you want to track and analyze the monthly energy consumption in yourhome. You have recorded the monthly energy usage for electricity and gas over a year,and you want to represent this data using Pandas Series.
Input:
# Months in a year
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
'September', 'October', 'November', 'December']
# Monthly energy consumption data (example data in kilowatt-hours for electricity and
therms for gas)
electricity_usage = [350, 320, 310, 330, 340, 370, 380, 360, 350, 330, 320, 330]
gas_usage = [20, 18, 16, 15, 12, 10, 8, 9, 12, 15, 17, 19]

In [37]:
# import the library
import pandas as pd

# given months in year , monthly energy consumption data , gas usage data
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November' , 'December']
electricity_usage = [350, 320, 310, 330, 340, 370, 380, 360, 350, 330, 320, 330]
gas_usage = [20, 18, 16, 15, 12, 10, 8, 9, 12, 15, 17, 19]

# Creating a pandas series to represent the data
elecricity_usage_series = pd.Series(electricity_usage, index=months)
gas_usage_series = pd.Series(gas_usage,index=months)

print("\n elecricity_usage monthly data in kilowatt-hours :\n" ,elecricity_usage_series)

print("\n gas_usage monthly data(thermas over month) :\n", gas_usage_series)

 elecricity_usage monthly data in kilowatt-hours :
 January      350
February     320
March        310
April        330
May          340
June         370
July         380
August       360
September    350
October      330
November     320
December     330
dtype: int64

 gas_usage monthly data(thermas over month) :
 January      20
February     18
March        16
April        15
May          12
June         10
July          8
August        9
September    12
October      15
November     17
December     19
dtype: int64

#Lab4:Suppose you are managing a website and want to analyze the monthly revenue
generated from advertising. You have recorded the monthly revenue for the past year,and you want to represent this data using a Pandas Series.

Input:
 # Months in a year
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July''August','September', 'October', 'November', 'December']
# Monthly advertising revenue data (example data in USD)
revenue = [5000, 5200, 4800, 5400, 5600, 5800, 6100, 5900, 6200, 6500, 7000, 6900]

In [38]:
# import the library
import pandas as pd

# given data months in year and monthly advertising revenue data
months = ['January', 'February', 'March', 'April', 'May', 'June','July' ,'August','September','October','November','December']
revenue=[5000, 5200, 4800, 5400, 5600, 5800, 6100, 5900, 6200, 6500, 7000, 6900]

# pandas series to represent data
revenue_series = pd.Series(revenue, index=months, name ='Monthly revenue(USD)')

# Display the series
print(revenue_series)

January      5000
February     5200
March        4800
April        5400
May          5600
June         5800
July         6100
August       5900
September    6200
October      6500
November     7000
December     6900
Name: Monthly revenue(USD), dtype: int64